extends layout

block content
  h1= title
  p Welcome to #{title}
  p Need to get requests to google started 
  p have the authentication json 
  p don't know if it's going to work the way I think it will
  p res.render is a way to get the templating engine going. Might be helpful, takes objects and such as arguments
  p need to figure out the vscode script too lol
  a(href="https://www.tutorialsteacher.com/nodejs/jade-template-engine") some templating help
